exportClasses(
              "Intervals",
              "Intervals_full",
              "Intervals_virtual" # Only for development, remove later
              )

# Note that "initialize" methods do not seem necessary here, nor in
# documentation. Note also that I am not currently importing generics for cases
# when I don't define my own.

exportMethods(
              "interval_union",
              "close_intervals",
              "open_intervals",
              "closed", "closed<-",
              "type", "type<-",
              "rbind",
              "coerce",
              "[",
              "size",
              "empty"
              )
